{% extends "layout.html" %}
{% block body %}
<br>
<hr>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#search">Search</a></li>
  <li><a data-toggle="tab" href="#create">Upload</a></li>
    <li><a data-toggle="tab" href="#tag">Tag</a></li>
    <li><a data-toggle="tab" href="#comment">Comment</a></li>
  <li><a data-toggle="tab" href="#about">About</a></li>
</ul>

<br>


{% if session.username %}

<div class="tab-content">
<div id="search" class="tab-pane fade in active">
<h3>Search for sounds and music pieces</h3>
<form action="{{ url_for('add_post') }}" method="post">
<dl>
<br>

 <div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Freesound</button>
      </span>
      <input type="text" class="form-control" name="stateR" placeholder="Search Freesound database...">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Jamendo</button>
      </span>
      <input type="text" class="form-control" name="stateO" placeholder="Search Jamendo database...">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
 <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
      <input type="text" class="form-control" name="role" placeholder="Aggregated search...">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
 <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search +</button>
      </span>
      <input type="text" class="form-control" name="event" placeholder="Complex query...">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
</dl>
<input type="submit" value="Search">
</form>
<br>
</div>

<div id="create" class="tab-pane fade">
<h3>Upload file</h3>
<form action="{{ url_for('add_post2') }}" method="post">
<dl>
<br>
<input type="file" name="fileinput" multiple>
<br>

<div class="fileinput fileinput-new" data-provides="fileinput">

</div>

<br>
Choose action
<br>

<input type="radio" name="options" id="option1" value="Remix"> Remix </input><br>
<input type="radio" name="options" id="option2" value="Tweak"> Tweak </input><br>
<input type="radio" name="options" id="option3" value="Copy"> Copy </input><br>

<br>
Calculate licence
<br>
<input type="radio" name="licenceCU" id="licenceCU1" value="licenceCU1"> Commmercial use YES </input><br>
<input type="radio" name="licenceCU" id="licenceCU2" value="licenceCU2"> Commmercial use NO </input><br>

<input type="radio" name="licenceCH" id="licenceCH1" value="licenceCH1"> User can make changes: YES </input><br>
<input type="radio" name="licenceCH" id="licenceCH2" value="licenceCH2"> User can make changes: NO </input><br>

<input type="radio" name="licenceDIST" id="licenceDIST1" value="licenceDIST1"> Must the changed work be distributed under same conditions: YES </input><br>
<input type="radio" name="licenceDIST" id="licenceDIST2" value="licenceDIST2"> Must the changed work be distributed under same conditions: NO </input><br>

<br>
Choose licence
<br>

<input type="radio" name="licence" id="licence1" value="CC0"> CC0 </input><br>
<input type="radio" name="licence" id="licence2" value="BY"> BY </input><br>
<input type="radio" name="licence" id="licence3" value="BYSA"> BY SA </input><br>
<input type="radio" name="licence" id="licence4" value="BYND"> BY ND </input><br>
<input type="radio" name="licence" id="licence5" value="BYNC"> BY NC </input><br>
<input type="radio" name="licence" id="licence6" value="BYNCSA"> BY NC SA </input><br>
<input type="radio" name="licence" id="licence7" value="BYNCND"> BY NC ND </input><br>



<br>

<div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Name the new sound: </button>
      </span>
      <input type="text" class="form-control" name="newSound" placeholder="">
    </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->

<br>

<br>
<br>
<input type="submit" value="Create">

</dl>

</form>

</div>

<div id="tag" class="tab-pane fade">
<h3>Tag file</h3>
<form action="{{ url_for('add_tag') }}" method="post">
<dl>
<br>
<input type="file" name="fileinput" multiple>
<br>

<div class="fileinput fileinput-new" data-provides="fileinput">

</div>

<br>
Add tags to this field (use / between tags)
<br>
    <br>



<div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Tags: </button>
      </span>
      <input type="text" class="form-control" name="listOfTags" placeholder="">
    </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->

<br>

<br>
<br>
<input type="submit" value="Tag">

</dl>

</form>

</div>

<div id="about" class="tab-pane fade">
    <h3>This app is part of the AudioCommons Project developed at Queen Mary University of London</h3>
</div>
</div>

{% endif %}


<br>

<h3>Search results</h3>

{% include "display_searchResults.html" %}


<br>

<h3>What users searched before</h3>

{% include "display_posts.html" %}
{% endblock %}