{% extends 'layout.html' %}

{% block body %}
<br>
<h2>{{ username }}'s profile</h2>

{% if session.username %}
    {% if session.username == username %}

        <h3>Check out users who created the most amount of equal entities as you:</h3>

          {% for user in similar2 %}
            <p>
            Check out
            <a href="{{ url_for('profile', username=user.users) }}">{{ user.users }}</a>
            profile <i> </i> who created {{ user.entities }} identical entities as you.
            </p>
          {% else %}
            <p>There are no any other users!</p>
          {% endfor %}

        <h3>Check out other users:</h3>

          {% for user in similar %}
            <p>
            Check out
            <a href="{{ url_for('profile', username=user.similar_user) }}">{{ user.similar_user }}</a>
            profile <i> </i>
            </p>
          {% else %}
            <p>There are no any other users!</p>
          {% endfor %}

        <h3>Your recent posts:</h3>

    {% else %}

           {% for ents in common %}
             <h5>  <p><strong>{{ ents.user.username }}</strong> has created the identical entity named: <mark>{{ ents.entity }}</mark>
               </p></h5>
           {% endfor %}

  <h3>{{ username }}'s recent entities:</h3>

    {% endif %}
{% endif %}

{% include "display_posts.html" %}

{% endblock %}