{% extends "layout.html" %}
{% block body %}
  <h2>Register</h2>
    <form action="{{ url_for('register') }}" method="post">
        <dl>
            <dt>Username:</dt>
            <dd><input type="text" name="username"></dd>
            <dt>Password:</dt>
            <dd><input type="password" name="password"></dd>
            <dt>Group:</dt>
            <dd><input type="text" name="group"></dd>
            <dt>Age:</dt>
            <dd><input type="number" name="age"></dd>
        </dl>
        <input type="submit" value="Register">
    </form>
{% endblock %}